---
import { getCollection } from "astro:content";
// import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../components/Layout.astro";
import { compareMonthDay } from "../../utils";

const yearsMap: Record<string, any[]> = {};

(await getCollection("blog"))
  .sort((a, b) => compareMonthDay(b.data.pubDate, a.data.pubDate))
  .map((v) => {
    // ['src','content','newBlogs', '2025']
    const pathnames = v.filePath?.split("/") || [];
    const fromYear = pathnames[3];

    if (yearsMap[fromYear]) {
      yearsMap[fromYear].push({
        title: v.data.title,
        id: v.id,
      });
    } else {
      yearsMap[fromYear] = [
        {
          title: v.data.title,
          id: v.id,
        },
      ];
    }

    return {
      ...v,
      fromYear,
    };
  });

const years = Object.keys(yearsMap).sort(
  (a, b) => Number(b).valueOf() - Number(a).valueOf()
);
---

<Layout>
  <section>
    {
      years.map((year) => {
        const list = yearsMap[year];
        return (
          <div>
            <h2>{year}</h2>
            <ul>
              {list.map((post) => (
                <li>
                  <a class="group" href={`/blog/${post.id}/`}>
                    <div class="flex justify-between">
                      <h4 class="group-hover:underline">{post.title}</h4>
                      <span class="hidden group-hover:inline-block">
                        Read Post
                      </span>
                    </div>
                  </a>
                </li>
              ))}
            </ul>
          </div>
        );
      })
    }
  </section>
</Layout>
