---
import Link from "./Link.astro";
const { class: className, ...reset } = Astro.props;

const today = new Date();
---

<footer
  class:list={[
    className,
    "flex justify-between border-t border-dashed border-black pt-6 text-base",
  ]}
  {...reset}
>
  <div>
    © {today.getFullYear()}
    <Link href="/">Barry</Link>. All rights reserved.
    <span class="text-sm"
      >Contact me by <span class="text-black/80">onlylonger@outlook.com</span
      ></span
    >
  </div>

  <div class="shrink-0">
    <span>😊</span>
    <span>😋</span>
    <span>🤔</span>
  </div>
</footer>
