---
import Menu from "./Menu.astro";
import MobileMenu from "./MobileMenu.astro";

const { class: className, ...reset } = Astro.props;
---

<header class:list={[className, "relative shrink-0 pt-6 pb-20"]} {...reset}>
  <div class="flex h-14 items-center justify-between">
    <!-- <MobileMenu class="md:hidden relative" /> -->

    <Menu class="flex h-full items-center gap-5" />
  </div>
  <!-- <div class="flex items-center absolute top-11 right-4">
    <span
      class="inline-block size-4 bg-black rounded-full cursor-pointer hover:scale-110"
    ></span>
  </div> -->
</header>
