---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  openCanvas = false,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="">
    {
      openCanvas && (
        <canvas
          id="canvas"
          class="fixed left-0 top-0 w-full h-full pointer-events-none -z-1"
        />
      )
    }
    <div class="container px-4 mx-auto min-h-svh flex flex-col pb-10">
      <Header />
      <main class="flex-1 pb-24">
        <slot />
      </main>
      <Footer />
    </div>
    <script>
      import { ParticleSystem } from "../particle";
      const canvas = document.getElementById("canvas");
      if (canvas) {
        const particleSystem = new ParticleSystem(canvas);

        // 动画循环
        function animate() {
          particleSystem.update();
          particleSystem.render();
          requestAnimationFrame(animate);
        }

        // 启动动画
        animate();
      }
    </script>
  </body>
</html>
