---
import { menuList } from "../consts";
import Link from "./Link.astro";
const props = Astro.props;
---

<ul {...props}>
  {
    menuList.map((v) => {
      return (
        <li>
          <Link href={v.url} showActive data-astro-prefetch="load">
            {v.label}
          </Link>
        </li>
      );
    })
  }
</ul>
