---
import MenuList from "./MenuList.astro";

const { class: className, ...reset } = Astro.props;
---

<nav {...reset} class:list={[className, "relative"]}>
  <span id="trigger" class="cursor-pointer text-sm">三</span>
  <div
    id="popup"
    class="absolute top-0 -left-2 hidden w-[268px] border border-dashed border-black bg-gray-200/80 px-2"
  >
    <span id="cancel" class="cursor-pointer text-sm">❌</span>
    <MenuList class="flex flex-col gap-2" />
  </div>
</nav>

<script>
  const trigger = document.getElementById("trigger");
  const popup = document.getElementById("popup");
  const cancel = document.getElementById("cancel");

  function togglePopup() {
    popup?.classList.toggle("hidden");
    trigger?.classList.toggle("invisible");
  }

  trigger?.addEventListener("click", () => {
    togglePopup();
  });

  cancel?.addEventListener("click", () => {
    togglePopup();
  });

  document.addEventListener("click", (e) => {
    if (popup?.classList.contains("hidden")) return;

    // 判断点击的目标是否在弹窗内或触发按钮内
    const isClickInsidePopup = popup?.contains(e.target as Node);
    const isClickInsideTrigger = trigger?.contains(e.target as Node);

    if (!isClickInsidePopup && !isClickInsideTrigger) {
      togglePopup();
    }
  });
</script>
