---
import Link from "./Link.astro";
const { class: className, list, title, ...reset } = Astro.props;
---

<ul class:list={[className, "flex flex-col gap-3"]} {...reset}>
  <li
    class="opacity-20 relative top-5 -left-1 text-3xl pointer-events-none font-semibold"
  >
    {title}
  </li>
  <slot>
    {
      list?.map((v) => {
        return (
          <li>
            <Link
              href={v.url}
              target="_blank"
              rel="noopener noreferrer"
              class="hover:decoration-gray-300"
            >
              {v.label}
              <div class="relative -top-1">
                {v.description && (
                  <span class="text-sm text-gray-300 pl-1 ">
                    - {v.description}
                  </span>
                )}
              </div>
            </Link>
          </li>
        );
      })
    }
  </slot>
</ul>
