---
import { getCollection } from "astro:content";
import Layout from "../../components/Layout.astro";
import { compareMonthDay, getUrl } from "../../utils";
import ProjectList from "../../components/ProjectList.astro";

const category: Record<string, any[]> = {};

(await getCollection("codeSnippet"))
  .sort((a, b) => compareMonthDay(b.data.pubDate, a.data.pubDate))
  .map((v) => {
    // ['src','content','newBlogs', '2025']
    const pathnames = v.filePath?.split("/") || [];
    const cat = pathnames[3];

    if (category[cat]) {
      category[cat].push({
        title: v.data.title,
        id: v.id,
      });
    } else {
      category[cat] = [
        {
          title: v.data.title,
          id: v.id,
        },
      ];
    }

    return {
      ...v,
      cat,
    };
  });

const cats = Object.keys(category).sort(
  (a, b) => Number(b).valueOf() - Number(a).valueOf(),
);
---

<Layout>
  <section>
    {
      cats.map((year) => {
        const list = category[year];
        return (
          <ProjectList title={year}>
            <ul>
              {list.map((post) => (
                <li>
                  <a class="group" href={getUrl(`/snippet/${post.id}/`)}>
                    <div class="flex justify-between">
                      <h4 class="group-hover:underline">{post.title}</h4>
                      <span class="hidden group-hover:inline-block">
                        Read Post
                      </span>
                    </div>
                  </a>
                </li>
              ))}
            </ul>
          </ProjectList>
        );
      })
    }
  </section>
</Layout>
